<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Categoría</title>
</head>
<body>

    <div th:replace="layouts/plantilla :: header"></div>

    <main>
        <h2 th:text="${categoria.id} != null ? 'Editar Categoría' : 'Nueva Categoría'"></h2>

        <form th:action="@{/categorias}" th:object="${categoria}" method="post">

            <input type="hidden" th:field="*{id}">

            <div>
                <label>Nombre:</label>
                <input type="text" th:field="*{nombre}">
            </div>

            <div>
                <button type="submit">Guardar</button>
            </div>

        </form>

        <a th:href="@{/categorias}">Volver a la lista</a>
    </main>

    <div th:replace="layouts/plantilla :: footer"></div>

</body>
</html>