<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Salida</title>
</head>

<body>

    <div th:replace="layouts/plantilla :: header"></div>

    <main>
        
</div>
        <form th:action="@{/movimientos}" th:object="${movimiento}" method="post">
        <h2 th:text="${movimiento.id} != null ? 'Nueva salida' : 'Nuevo movimiento'"></h2>
       
            <input type="hidden" th:field="*{id}">

            <div>
                <label>Producto:</label>
                <select th:field="*{producto.id}" required>
                    <option th:each="p : ${productos}" th:value="${p.id}" th:text="${p.nombre}">

                    </option>
                </select>
            </div>
            <label>Tipo de movimiento</label>
            <select th:field="*{tipoMovimiento}">
                <option th:value="salida">Salida</option>
            </select>
            <div>

                <label>Stock que desea :</label>
                <input type="number" th:field="*{cantidad}" min="1">
            </div>


            <div>
                <button type="submit">Guardar</button>
            </div>
        </form>



        <a th:href="@{/movimientos}">Volver a la lista</a>

    </main>

    <div th:replace="layouts/plantilla :: footer"></div>

</body>

</html>